* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #ffdaaa;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif; }

nav {
  width: 95%;
  background-color: #120052;
  margin: 0.2em auto;
  margin-top: 0;
  margin-bottom: 1em; }
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0.4em auto; }
    nav ul .li__menu {
      padding: 0.4em;
      margin: 0.6em; }
      nav ul .li__menu a {
        padding: 0.4em;
        text-decoration: none;
        color: #ffdaaa;
        font-size: 1em;
        transition: all ease 1s; }
        nav ul .li__menu a:hover {
          font-size: 1.2em;
          color: #120052;
          background-color: #ffdaaa; }

main h2 {
  font-size: 1.2em;
  color: #120052;
  text-align: center; }

main .texto {
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 0.4em;
  margin: 0.6em;
  color: #120052;
  border: solid 2px #120052; }

main .imagenes {
  margin: 0.6em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  main .imagenes div {
    margin: 0.6rem; }
    main .imagenes div img {
      width: 250px;
      height: 300px;
      transition: all ease 1s; }
      main .imagenes div img:hover {
        transform: scale(1.1);
        box-shadow: #120052 10px 0 10px 0;
        border: 2px solid #120052; }

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: solid #120052 1px;
  height: 3em; }
  footer img {
    width: 1.5em; }
  footer ul {
    list-style-type: none; }
    footer ul li {
      display: inline-block; }
      footer ul li img {
        width: 1.3em;
        margin: 0.8em; }

.h2-contacto {
  border-bottom: #120052 2px solid; }

form {
  margin: 1em;
  border: #120052 2px solid;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between; }
  form .form__div {
    width: 100%;
    margin: 0.3em; }
    form .form__div label {
      color: #120052;
      font-size: 0.9em; }
    form .form__div input {
      width: 100%;
      padding: 0.4em;
      transition: all ease 0.5s; }
      form .form__div input:hover {
        transform: scale(1.01);
        box-shadow: #120052 10px 0 10px 0;
        border: 2px solid #120052; }
    form .form__div .form__comentario {
      display: block; }
    form .form__div .form__boton {
      width: 5em;
      display: block; }
    form .form__div .form__area {
      transition: all ease 0.5s; }
      form .form__div .form__area:hover {
        transform: scale(1.01);
        box-shadow: #120052 10px 0 10px 0;
        border: 2px solid #120052; }
