footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: solid $bg_oscuro 1px;
    height: 3em;
    img{
        width: 1.5em;
    }
    ul{
        list-style-type: none;
        li{
            display: inline-block;
            img{
                width: 1.3em;
                margin:0.8em;
            }
        }
        
        
    }
}
