$bg_oscuro:#120052;
$bg_claro:#ffdaaa;
@mixin hover($aumento){
    transform: scale($aumento);
    box-shadow: $bg_oscuro 10px 0 10px 0;
    border: 2px solid $bg_oscuro;
}
@mixin flex($contenido, $cof){
    display: flex;
    flex-direction: $cof;
    flex-wrap: wrap;
    justify-content: $contenido;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: $bg_claro;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

@import "nav";

@import "main";

@import "footer";

@import "contacto";